@page
@model WebAplicacion.Pages.Vehiculo.EditModel
@{
}

<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)" v-cloak>

    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue ? "Actualizar": "Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit">

                <input type="hidden" asp-for="Entity.VehiculoId" v-model="Entity.VehiculoId" />

                <div class="form-group mb-3">
                    <label for="Entity.MarcaVehiculoID" class="form-label">Marca Vehiculo</label>

                    <select asp-for="Entity.MarcaVehiculoId" class="form-select" v-model="Entity.MarcaVehiculoId"
                            asp-items="@(new SelectList(Model.MarcaVehiculoLista,"MarcaVehiculoId", "Descripcion"))" required>
                        <option value=""></option>
                    </select>
                </div>


                <div class="form-group mb-3">
                    <label for="Entity.Matricula" class="form-label">Matricula</label>
                    <input type="text" class="form-control" asp-for="Entity.Matricula" v-model="Entity.Matricula" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Color" class="form-label">Color</label>
                    <input type="text" class="form-control" asp-for="Entity.Color" v-model="Entity.Color" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Modelo" class="form-label">Modelo</label>
                    <input type="text" class="form-control" asp-for="Entity.Modelo" v-model="Entity.Modelo" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.FechaModelo" class="form-label">Fecha Modelo</label>
                    <input type="date" class="form-control" asp-for="Entity.FechaModelo" v-model="Entity.FechaModelo" maxlength="250" required>
                </div>

                <div class="form-group  form-check form-switch">
                    <label class="form-check-label" for="Entity_TieneDefectos">Defectos?</label>
                    <input class="form-check-input" type="checkbox" asp-for="Entity.TieneDefectos" v-model="Entity.TieneDefectos"
                           v-on:change="RefrescarValidaciones" value="true">
                </div>


                <div v-if="Entity.TieneDefectos" class="form-group mb-3">
                    <label for="Entity.Defectos" class="form-label">Comentarios de los defectos</label>
                    <textarea class="form-control" asp-for="Entity.Defectos" v-model="Entity.Defectos" maxlength="1000" required></textarea>
                </div>


                <div class="form-group  form-check form-switch">
                    <input class="form-check-input" type="checkbox" asp-for="Entity.Estado" v-model="Entity.Estado" value="true">
                    <label class="form-check-label" for="Entity.Estado">Estado</label>
                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="button" @@click="Save" class="btn btn-outline-primary">
                            @(Model.id.HasValue ? "Actualizar": "Agregar")
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <script defer src="~/App/Vehiculo/Edit.js"></script>

}
